@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Catalogo";
    IEnumerable<App2demo.Models.Categoria> categorias = new List<Categoria>();
    IEnumerable<App2demo.Models.Producto> catalogos = new List<Producto>();
    categorias = @Model.itemCategorias;
    catalogos = @Model.itemProductos;

}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <h3>@ViewData["Message"]</h3>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            @foreach (Categoria item in Model.itemCategorias) {
                <li class="nav-item">
                    <a class="nav-link" href="#">@Html.DisplayFor(modelItem => item.Nombre)</a>
                </li>
            }
        </ul>
    </div>

    <div class="row">
        <div class="col">
            <div id="products" class="mb-3">
                <div class="row">
                    @foreach (Producto item in Model.itemCatalogo) {
                        <div class="col-sm-4">
                            <div class="card mb-3">
                                <div class="card-img-actions">
                                    <img src="@item.ImagenURL" class="d-block w-100 image-fit">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                                    <a class="btn btn-primary" asp-controller="Carrito" asp-action="Add" asp-route-id="@item.Id">Add</a>
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
